/* Variables */
$color-one: #0097e6;
$color-two: #33d9b2;
$color-three: #ff5252;
$color-text-one: #ffffff;
$color-text-two: #2c2c54;

$transition: all 1s;

/* Global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Inconsolata';
    color: $color-text-two;
}

.container {
    // ten max width to wymiar aż do granic margina? 
    max-width: 1140px;
    padding: 0 20px 0 20px;
    // o co chodzi z tym translateX? 
    transform: translateX();
}

section {
    padding: 96px 0;
}

/* Navigation */

.navigation {
    background-color: $color-one ;
    padding: 12px 0;
}

.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

// czy takie szczegółowe (ekstra 'ul') jest wskazane?
.navigation li {
    display: inline-block;
    margin: 0 36px 0 0;
    // po co?
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: $color-text-one ;
}

.navigation a:hover {
    color: $color-two;
}

//second level
.navigation ul ul li {
    display: block;
    margin: 0 0 12px 0;
}

.navigation ul ul {
    display: none;
    //dalczego?
    left: 50%;
    transform: translateX(-50%);
}

.navigation li:hover ul {
    position: absolute;
    display: block;
    background-color: $color-text-one;
}

.navigation ul ul a {
    color: $color-text-two;
    padding: 0 24px;
    //potrzebne?
    display: block;

}

/* Splash */

.splash {
    background-color: $color-one;
    color: $color-text-one;
    min-height: 500px;
    display: flex;
}

.splash-inner {
    margin: auto;
    max-width: 70%;
}

.splash h1 {
    margin: 0;
    font-size: 72px;
    word-spacing: -24px;
    font-weight: 700;
    line-height: 1.2;
}

.splash h2 {
    margin: 24px 0;
    font-size: 16px;
    font-weight: 300;
}

.page-title span {
    font-weight: 2000;
}

/* button */

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: 'Inconsolata';
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-color: inherit;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
}

.btn:hover {
    background-position: 0 100%;
    color: #0097e6;
}

.btn-one {
    border-color: $color-text-one;
    color: $color-text-one;
    background-image: linear-gradient(90deg, $color-text-one 50%, transparent 50%);
}

/* section Our Service */

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 0 33.333%;
}

.row h3 {
    font-size: 24px;
    margin: 0 0 12px 0;
    position: absolute;

}

.box {
    position: relative;
}

.box-number {
    position: absolute;
    font-size: 144px;
    line-height: 1;
    font-weight: 1000;
    offset: 100px 100px 100px 100px;
    padding: 0;
}